@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Quattrocento:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(255, 255, 255, 0.947);
    font-family: 'Quattrocento', serif;
}

header {
    padding: 20px;
    font-family: 'DM Serif Display', serif;
}

nav {
    max-width: 1200px;
    margin: 0 auto;
    /* top/bottom: 0; left/right: auto */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.h1--nav {
    text-align: start;
    font-size: 48px;
}

.a--nav {
    text-align: end;
    text-decoration: none;
    /* remove underline */
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: rgb(133, 133, 133);
}

main div {
    max-width: 1200px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 20px;
}

main img {
    width: 100%;
    height: auto;
    overflow: hidden;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

main .short {
    grid-row: span 2;
}

main .long {
    grid-row: span 3;
}

@media (max-width: 480px) {
    nav {
        grid-template-columns: 1fr;
    }

    .h1--nav {
        text-align: center;
        font-size: 42px;
    }

    .a--nav {
        text-align: center;
    }

    main div {
        grid-template-columns: 1fr;
    }

    main img:nth-child(6) {
        grid-row-start: 11;
    }

    main img:nth-child(12) {
        grid-row-start: 25;
    }
}